show.html.erb (hosts)

<h2>Current user info</h2>

<!-- <a href = "/hosts">  For the User </a> -->
<p>first_name: <%= @host.first_name %></p>
<p>last_name: <%= @host.last_name %></p>
<p>email: <%= @host.email %></p>
<p>bio: <%= @host.bio %></p>
<p>image_url: <%= @host.image_url %></p>
<p>phone: <%= @host.phone %></p>
<p>updated_at: <%= @host.updated_at %></p>
<p>ID: <%= @host.id %></p>